<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
		<div  class="container">
			<a th:href="@{/form}" class="btn btn-success btn-lg my-3">Volver</a>
	<h1 th:text="${titulo}"> </h1>
	</div>
	
	<div  class="container">
<ul class="list-group my-1">
	<li class="list-group-item" th:text="${usuario.nombre}"></li>
	<li class="list-group-item"  th:text="${usuario.apellido}"></li>
	<li class="list-group-item" th:text="${usuario.username}"></li>
	<li class="list-group-item"  th:text="${usuario.password}"></li>
	<li class="list-group-item" th:text="${usuario.email}"></li>
	<li class="list-group-item"  th:text="${usuario.fecha}"></li>
	<li class="list-group-item"  th:text="${usuario.pais}" ></li>
</ul>
</div>
    
</body>
</html>